@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

/* Global
================================================================*/

body {
	background: #fff;
	margin: 0;
	padding: 0;
}

body,
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 140%;
	color: #333;
	letter-spacing: .03em;
}

p {margin: 0 0 20px}
 
.relative { position: relative } 

.date {font-size: 14px; color: #9e9e9e}

      @media (min-width: 1200px) {
        .container {
          max-width: 1240px;
        }
      }
/* Pagination
--------------------*/

.pagination {
  position: relative!important;
}
.pagination h2 { display:none }

.nav-links {
  width: 100%;
  text-align: center;
}
.page-numbers {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px 0 0;
  border: 1px solid #eee;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
}
.page-numbers.current,
a.page-numbers:hover { background: #f9f9f9; }
.page-numbers.current{ font-weight: 600; }

 
/* Fonts
-----------------------------------------*/
 h1 {
	font-size: 36px;
 	margin: 0;
	color: #ffffff;
	font-weight: 600;
}

.home-page h1 { color: #282828 }

h2 {
	font-size: 24px;
 	font-weight: 400;
	margin: 0;
  text-transform: uppercase
}

h3 {
	font-size: 24px;
 	margin: 0 0 10px;
	font-weight: 300;
}

.page-content h3 { 
  font-size: 30px;
  font-weight: 400;
  color: #d21242
 }


h4 {
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 20px;
}

h5 { font-size: 16px; color: #333; margin: 0}


h6 { font-size: 14px }
.font11 { font-size: 11px; line-height: 100%}
.font12 { font-size: 12px; line-height: 100%}
.font14 { font-size: 14px; line-height: 100%}
.font18 { font-size: 18px; line-height: 100%}
.font20 { font-size: 20px; line-height: 100%}

b, strong { font-weight:800!important }


/* links
----------------------*/  
.red,
a.red,
a.red:visited{ color: #d21242 !important }	

.white,
a.white,
a.white:visited{ color: #fff }
.black { color: #000 }

.bg-red { background: #d21242; }

a,
a:hover,
a:focus,
a:visited {
	color: #3e9cd0;
	text-decoration: none;
} 


/* Spacing
-----------------------------------------*/
.no-gutter [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-gutter-sm [class*='col-'] {
    padding-right: 2px;
    padding-left: 2px; 
}

/* Images
-----------------------------------------*/

img.ir {
	width: 100%;
	height: auto;
}
 
.image-crop {
	position: relative;
	width: auto;
	padding-bottom: 65%;
 	margin: 0 0 5px;
  overflow: hidden;
}

.image-crop img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%; 
  top: 0
}

/* Buttons
-----------------------------------------*/
.btn{
	border-radius: 0;
	border: none;
	text-transform: uppercase;
  padding: 10px 25px
}
.btn:hover {
  -webkit-transition: all .2s ease-in-out;
       -moz-transition: all.2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
	       -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}

.btn-primary{
	background: #f19520;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}

.btn-secondary { background: #000 }
.btn-secondary:hover {background: #444}
   
.btn-secondary
.btn-small,
.btn-small:visited,
.btn-secondary,
.btn-secondary:visited {
	color: #fff; 
	background: #000;
	padding: 13px 30px; 
}

.btn-small,
.btn-small:visited {
  padding: 5x 15px;
  font-size: 13px;
  text-transform: capitalize;
  background: #000;
  color: #fff;
  border: 4px solid #fff
}

.btn-small:hover {
  border:4px solid #eaeaea;
  background: #d21242;
  border-radius:20px;
}
 
/* Forms
-----------------------------------------*/
/*#contact-form .forminator-row,
#contact-form .forminator-row:nth-child(2),
#contact-form .forminator-row:nth-child(3),
#contact-form .forminator-row:nth-child(4),
#contact-form .forminator-row:nth-child(5){
  display:inline-block;
  width: 48%;
  margin: 1%;
} 

#contact-form .forminator-row:nth-child(6) {
  width: 98%;
  margin: 1%; 
}

#contact-form .forminator-col {
  padding-left:5px;
  padding-right: 5px  
}*/
#contact-form .forminator-row {
  margin-bottom: 0;
}
#contact-form #submit button {
  text-transform:uppercase;
  font-weight:700;
  padding: 10px 30px; 
}

#contact-form .forminator-field input,
#contact-form .forminator-field textarea,
input, select, textarea,
.input-group input,
.form-control {
  background: #fff;
	border-radius: 0;
	height: 44px;
	margin: 0 0 15px; 
  border:1px solid #ccc;
}

       

/* Header
================================================================*/
header {
	position: fixed;
	width: 100%;
 	z-index: 999;
	top: 0;
  background: #fff;
} 
 
header .d-inline-block{ padding: 10px 25px } 

header a,
header a:visited,
header a:hover,
header a:focus{
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
}
header .fas {
  font-size: 18px;
  height: 22px;
}
header .fa-bars { height:27px}

.site-menu{
  position: absolute;
  right: 30px;
  top: 10px;
}

.logo img {
  position: absolute;
  left: 15px;
  top:5px;
  width: 247px;
  height: auto;
}
.logo h2 { margin: 10px 0 0 260px;}

        @media screen and (max-width: 1200px) { 
            header .d-inline-block { padding: 10px 8% } 
            .logo img { width: 200px; top:0 }
            .logo h2 { 
              margin-left: 210px;
              font-size: 18px;
            }
          header span {
            display:none;
          }
        }

        @media screen and (max-width: 980px) { 
            header {
              position: relative;
              width: auto;
              z-index: 999;
              top: auto;
            } 
            .top-options {
              position: fixed;
              top: 0;
              left: 0;
              right: 0;
              z-index: 990;
              }
            .logo {
              text-align: center;
              padding: 90px 0 20px;
            }

            .logo img { 
              top: auto; 
              left: auto;
              position:relative;
              width: 245px
            }

            .logo h2 { 
              margin:0;              
              text-align: center;
            }
          
            header .d-inline-block,
            .site-menu {
              border:1px dotted #ccc;
              background: #eaeaea;
              width: 22.5%;
              padding: 10px 0;
              text-align: center
            }
          .site-menu { width: 10%; }
         
          .site-menu {
            position:relative;
            right: auto;
            top: auto;
            padding-top: 10px;
            background: #d21242;
            text-align:center
          }
          .site-menu .fas,
          .site-menu a,
          .site-menu a:visited{ color: #fff } 
          header span {
            display:block;
          }
        } 

        @media screen and (max-width: 768px) { 
          header span { display:none; }
        }

/* Search
-----------------------------------------*/
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 2s ease-in-out;
       -moz-transition: all 2s ease-in-out;
        -ms-transition: all 2s ease-in-out;
	       -o-transition: all 2s ease-in-out;
            transition: all 2s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
	     -moz-transform: translate(0px, -100%) scale(0, 0);
	      -ms-transform: translate(0px, -100%) scale(0, 0);
         -o-transform: translate(0px, -100%) scale(0, 0);
	          transform: translate(0px, -100%) scale(0, 0);    
    opacity: 0;
    display: none;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
       -moz-transform: translate(0px, 0px) scale(1, 1);
    	  -ms-transform: translate(0px, 0px) scale(1, 1);
	       -o-transform: translate(0px, 0px) scale(1, 1);
	           transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    z-index: 106;
    display: block;
}

#search input[type="text"] {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -51px;
  width: 60%;
  margin-left: 20%;
  color: rgb(255, 255, 255);
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, .8);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  font-size: 30px;
  text-align: center;
  outline: none;
  padding: 10px;
	line-height: 100%;
	height: 60px;
}
  
#search .close {
	position: fixed;
	top: 25px;
	right: 25px;
	opacity: 1;
	font-size: 40px;
	color: #fff;
}
#searchsubmit {display:none}

/* Location Panel
-----------------------------------------*/
#locationPanel .card-body {
  border:none;
  background: #343333;
  padding: 0;
  color: #fff;
  border-radius: 0
}
.location-panel .location h5,
.location-panel .store-hours h5{
  background: #424242;
 }
.location-panel .location,
.location-panel .store-hours,
.location-panel .store-hours p{
  color: #fff;
  text-align: left;
  font-size: 14px;
}

.location-panel .location a,
.location-panel .store-hours a { font-size: 14px; color: #fff;}


.location-panel .border-left { border-left: 1px solid #505050 !important;}
.location-panel .border-left:first-child { border-left: none !important}

.location-block {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.rx-refill-location .fas,
.flyer-location .fas{
  font-size: 24px;
}
        @media screen and (max-width: 992px) {
         .location-panel .store-hours: border-bottom: 1px solid red!important;
         #locationPanel .border-left:nth-child(3) { border-left: none !important}
          }
        }

/* Footer
================================================================*/
.social a,
.social a:visited,
.social .fa { color: #fff; }

.social .fab,
.social .far,
.social .fas{
	width: 36px;
	height: 36px;
 	font-size: 20px;
	text-align: center;
	padding: 8px 0 0;
	color: #fff
}

.social .fa-map-marker-alt,
.social .fa-clock {background: #000}
.social .fa-facebook { background: #2b5da9}
.social .fa-twitter { background: #27b1eb}
.social .fa-linkedin-in { background: #2a2a2a}
.social .fa-instagram { background: #bc47c4}
.social .fa-youtube { background: #ec4e3e} 

.signup a,
.erefill a{
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 15px 15%;
  font-weight: 600;
  letter-spacing: .04em;
 }

.signup a:hover,
.erefill a:hover { 
  background: #000;
  color: #fff;
}

.signup  a:hover {border-color: #d21242;}

.erefill a {
  border-color: #ccc;
  color: #2d2d2d;
}
.erefill a:hover { border-color: #f8f9fa; }

.footer .fa-envelope,
.footer .fa-comments,
.footer .fa-prescription-bottle-alt {
  font-size: 30px;
  color: #a40a30;
}

       
/* Main Nav
================================================================*/
.site-menu,
.panel {
	border: none;
	display: block;
}

.site-menu { 	line-height: 100%; }

.panel-top { 
  background: #bc0734;
  padding: 20px;
}

.panel-content {
	position: relative;
	background: #d21141;
	padding: 0;
	overflow-y: auto;
	height: 100%;
}
			
.panel-content .panel-close {
	position: absolute;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	display: block;
	color: #fff;
	right: 30px;
	top: 15px;
}
.panel-content .panel-close span {
  position: absolute;
  top: 5px;
  right: 40px;
  font-size: 18px;
  color: #f4517a;
}

.panel-content .panel-close:before {
	content: "";
	color: #fff;
	z-index: 998px;
}

.panel {
	z-index: 998;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 	position: fixed;
	display: block;
	bottom: 0;
	top: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	right: -100%;
	width: 40%;
	margin: 0;
	border-radius: 0;
}

.panel .row {
	padding: 0 0 20px;
	margin: 0 0 30px;
	border-bottom: 1px solid #64b8e8;
} 
 
.panel ul {
  margin-left:-15px;
}
.panel ul li {
  color: #fff;
	margin: 0 0 5px 20px;
  border-top: 1px solid #b0052f;
} 

.panel ul li:first-child{
  border: none;
}

.panel ul li a {
 	font-size: 18px;
	color: #fff;
	text-decoration: none;
  padding: 15px 15px 15px 30px;
}
.panel ul li a:first-child {
   display: block;
 }

.panel ul ul {
  margin: 0;
  list-style: none
}
.panel ul ul li { margin: 0;border: none; }

.panel ul ul li a {
  text-transform: capitalize;
  padding: 15px 15px 15px 0
}
.panel ul ul li a:first-child {
      border:none
}
.panel ul ul li a:before {
	content: "\f054  ";
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 300;
	color: #8b0526;
	z-index: 998px;
}

.panel .social { padding: 0 0 20px 35px; }

.panel.expanded { right: 0; }

          @media screen and (max-width: 1200px) { 
            .panel { width: 50%;}
          }
          @media screen and (max-width: 900px) { 
            .panel { width: 80%;}
          }

/* Home Page
================================================================*/

.banner-nav {
  position: absolute;
  right: 0;
  bottom:15px;
  background: #fff;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #2d2d2d
}
.carousel-control-next-icon {color: #d21242}

.carousel-control-prev-icon:hover {color: #d21242}

.carousel-control-next, .carousel-control-prev {
  position: relative;
  top: auto;
  bottom: auto;
  width: 40px;
  height: 50px;
  color: #d21242;
  opacity: 1;
  display:inline-block;
  padding: 15px 5px 
}

.carousel-control-next { right: auto; }
/* Home: Intro
-----------------------------------------*/
.intro-title {
   text-align: center;
}
 .intro-overlay {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    background-color: rgba(210,18,66,.9);
    padding: 17% 0 18%;
    line-height:100%
 }
.intro-title .image-crop{
  padding-bottom:40%;
}
.intro-title .image-crop img,
.product-category-main .image-crop img{ left: 0; }

.intro-content {
  background: #f3f3f3;
  padding: 40px 50px;
}
.intro-content-container {
  height: 210px;
  overflow: hidden;
 }

.overlay {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    background-color: rgba(0,0,0,.7);
    padding: 20% 0 0;
    height: 100%
}

.date-home {
  max-width: 200px
}
.home-event-link {
  position: absolute;
  bottom: 20px;
  padding: 30px 0 0
}
        @media screen and (max-width: 992px) {
          .home-event-link {
            position: relative;
            bottom: auto;
          }
          .intro-content-container { height: auto; }
        }
        @media screen and (max-width: 500px) { 
          .intro-content { padding: 30px }
          .home-events { display:  none }
          .home-services .overlay img {
            width: 50px;
            height:auto;
          }
          .home-services .overlay h3 { font-size: 16px;}
        }
 
/* Home: Products
-----------------------------------------*/
.product-price {
    position: absolute;
    top: 0;
    right: 0;
    background: #d21242;
    color: #fff;
    padding: 10px 20px;
}
.product-item h6{
    background: #000;
    text-align: center;
    height: 60px;
    overflow: hidden; 
    color: #fff;
 }


.product-item .image-crop {
    padding-top: 40px;
    margin: 0 0 15px
}

      @media screen and (max-width: 500px) { 
        .home-products { display: none }
      }


/* Sub Page
================================================================*/

/* Sub Nav
-----------------------------------------*/

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 85px;
  z-index: 100;
  border-top: 0;
}

.subnav-bar { background: #000; }

.subnav-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center
}
.subnav-bar ul li { display: inline; }

.subnav-bar ul li a {
	display: inline-block;
	margin: 0;
	padding: 15px 20px;
 	font-size: 14px;
	font-weight: 600;
  letter-spacing: 0.3em;
 	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
 	-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    letter-spacing: .04em;
}

.subnav-bar ul li a:hover,
.subnav-bar ul li a.active,
.subnav-bar ul li.current-menu-item a{
	 background: #fff;
	 color: #d21242;
 }

			@media screen and (max-width: 992px) {
        .sticky { top:68px}
        .subnav-bar { background: #000; }
				.subnav-bar ul li a {
					padding: 15px 10px;
				}
        .subnav-bar ul li a { font-size: 12px; } 
      }
      @media screen and (max-width: 767px) {
        .sticky,
        .subnav-bar { display: none } 
      }


/* Staff Module
-----------------------------------------*/
.staff-member p {
  font-size: 14px;
  color: #878383
}

.staff-member .image-crop,
.product-category-main .image-crop{ padding-bottom: 100%; }
.staff-member .image-crop img {left:0}

/* Staff Modal
------------------*/
.modal-dialog { 
  background: #fff;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.staff-modal .modal-body {
  border: none;
  border-radius: 0;
  padding: 70px 40px 40px;
  color: #000;
  border-bottom: 4px solid #d21242
}

.modal-body p { color: #444 }

.modal-body .btn { 
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 400
}

.modal-body .fa-times-circle { 
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #444;
  cursor: pointer
}

.modal-actions {
  padding: 20px 0 0;
  margin: 10px 0 0;
  border-top: 1px dotted #ccc;
}

.modal-error p {
  color: #e4104c;
  font-size: 14px;
  font-weight: 300;
 }


/* Events
-----------------------------------------*/
.event-block {
  color: #fff;
  background: #020202;
  min-height: 300px;
  border:1px solid #fff;
}

.event-block .event-summary{ border-bottom: 1px dotted #333; }

.event-blocks div.event-block:nth-child(3n+2) { background: #d21242;  }

.event-blocks div.event-block:nth-child(3n+2) .event-summary { border-bottom: 1px dotted #ac0d35; }

.event-blocks div.event-block:nth-child(3n+3){ background: #2f79c4; }

.event-blocks div.event-block:nth-child(3n+3) .event-summary { border-bottom: 1px dotted #155ca4;  }

.event-blocks div.event-block:nth-child(3n+4) { background: #df8730; }

.event-blocks div.event-block:nth-child(3n+4) .event-summary { border-bottom: 1px dotted #b5600b; }

.event-blocks div.event-block:nth-child(2n+8) { background: #000; }

.event-blocks div.event-block:nth-child(2n+8) .event-summary{ border-bottom: 1px dotted #333; }

.event-block p,
.event-block a,
.event-block a:visited{ color: #fff; }

.event-block h1 { 
  font-size: 48px;
  font-weight: 900;
}
.event-summary {
  min-height:150px;
  margin-bottom: 10px;
  padding-bottom: 20px
}

.fa-external-link-alt {
  position: absolute;
  right: 20px;
  top: 20px
}

/* News
-----------------------------------------*/

.article .image-crop { padding-bottom: 130%; }
.article .image-crop img {top:0}

.article .card-body {
  height: 240px;
  font-size: 14px; 
  line-height: 140%;
}
.article .date { display:inline-block; }

.article h3 {
  font-size:18px;
  color: #202020
} 

      @media screen and (max-width: 992px) {
        .article .card-body { height: 320px; }
      }
      @media screen and (max-width: 767px) {
        .article .card-body { height: 240px; }
      }
      @media screen and (max-width: 567px) {
        .article .card-body { height: auto; }
      }
        
/* Gallery
-----------------------------------------*/

.gallery-list .image-crop {
  padding-bottom: 0;
  margin: 0;
}

.gallery-list .image-crop img,
.thumbnail-1 .image-crop img{
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  width: 100%; 
  top:0;
}

.category-thumbnails {
  position: relative;
  background-color: #d21242;
  overflow: hidden;
}

.category-thumbnails:after {
  content: '';
  display: block;
  background-color: inherit;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) translateZ(0) rotate(-28deg);
          transform: scale(2) translateX(-75%) translateY(-75%) translateZ(0) rotate(-28deg);
  transition: -webkit-transform 3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 3s cubic-bezier(0.23, 1, 0.32, 1);
}

.category-thumbnails:hover:after {
  -webkit-transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
          transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
}

.category-thumbnails:hover .cat-image {
  -webkit-transform: scale(1.2) translateZ(0);
          transform: scale(1.2) translateZ(0);
}

.category-thumbnails:hover .cat-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cat-image {
  height: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: -webkit-transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 750ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
}

.cat-image::before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.cat-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

.cat-text {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #ffffff;
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 300ms;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.cat-text-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cat-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px; 
  color: #fff;
}

[class*='thumbnail-']{
  background: #eaeaea;
  width: 33.33%;
  height: auto;
   padding: 5px 5px 3px 5px;
  cursor: zoom-in;
}
     
[class*='thumbnail-'] img{
  max-width: 100%;
}

[class*='thumbnail-']{
  overflow: hidden;
  padding: 0;
  position: relative;
  cursor: zoom-in;
}

[class*='thumbnail-']:hover img{
  transition: .3s linear;
  transition-delay: 300ms;
  transform: /* rotate(5deg) */ scale(1.4);
}

[class*='thumbnail-'] > .caption{
  display: none;
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
  background-color: #d21242;
  color: #fff;
  opacity: 0.8;
}

[class*='thumbnail-']:hover > .caption{
  display: block;
 
}

.ekko-lightbox-nav-overlay a:last-child span,
.ekko-lightbox-nav-overlay a span { color: #fff; }

      @media screen and (max-width: 992px) {
        [class*='thumbnail-'] {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
      @media screen and (max-width: 480px) {
        [class*='thumbnail-'] {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
  
/* FAQ
-----------------------------------------*/
.faq-q p {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  background: #eaeaea;
  padding: 10px;
  margin: 0
}

/* Testimonials
----------------------------------------- */
.quote { 
  position: relative; 
  
}
.quote i {
  position: absolute; 
  left: -50px;
  font-size: 30px;
  color: #c5c9cc
}



        @media screen and (max-width: 992px) {
          .page-space { 
            margin:0!important;
            line-height:0;
          }
        }

.services-icon {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  text-align: center
}

.services-icon img {
  border-radius: 50%;
  border: 8px solid #fff
}

    @media screen and (max-width: 767px) {
      .services-icon {
      
        top: -90px;
      }
      
}

/* Social Reviews
----------------------------------------- */
.fts-jal-single-fb-post {
     line-height: 17px;
    text-align: left;
    width: 300px;
    display: inline-block;
    margin: 20px 20px 0 20px;
}

#google-reviews {
  display:flex;
  flex-wrap:wrap;
  /*display: grid;
  grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));*/
    font-size: 12px;
}
.reviews-container-home { width: 100% }
.review-item {
  border:solid 1px rgba(190,190,190,.35);
  border:medium none;
  margin:0 auto;
  padding: 20px;
  flex: 1 1 20%;
  border:1px dotted #eaeaea
}
.review-text {
  color: #2d2d2d;
  font-size: 12px;
  line-height 100%;
}
        @media ( max-width:992px) {
          .review-item { flex: 1 1 40%; }
        }

        @media ( max-width:450px) {
          .review-item { flex: 1 1 90%; }
        }

.review-meta, .review-stars {text-align:center; font-size:115%;}
.review-author { text-transform: capitalize; font-weight:bold; }
.review-date {opacity:.6; display:block;}
.review-text {  line-height:1.55; text-align:left; max-width:32em; margin:auto;}

.review-sep { display: none } 

.review-stars ul {
  display: inline-block;
  list-style: none !important;
  margin:0; padding:0;
}

.review-stars ul li {
  float: left;
  list-style: none !important;
  margin-right: 1px;
  line-height:1;
}

.review-stars ul li i {
  color: #e8d506;
  font-size: 1.4em;
  font-style:normal;
}
.review-stars ul li i.inactive { color: #c6c6c6;}
.star:after { content: "\2605"; }


img.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

img.alignright {
  float: right;
  margin: 0 0 20px 20px
}



/* 404 Page
================================================================*/
.page-error {
  background: repeating-linear-gradient(
  45deg,
  #eaeaea,
  #eaeaea 10px,
  #f8f8f8 10px,
  #f8f8f8 20px
);}
.error-content{ 
  max-width:600px; 
  margin:0 auto
}
.page-error h1 { 
  font-size: 44px; 
  color: #444; 
  letter-spacing: .08em
}
.page-error h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
.page-error h3 {
  font-size: 24px; 
  margin: 0 0 10px;
  font-weight: 300;
  color: #444
}
.home-page { 
  padding: 10px 30px; 
  border-radius:20px; 
  background:#302f2f;
  font-size: 20px;
}

.noautop {
    display: block;
}